[submodule "plugins/mitamae-plugin-resource-mount"]
	path = plugins/mitamae-plugin-resource-mount
	url = https://github.com/takumin/mitamae-plugin-resource-mount.git
[submodule "plugins/mitamae-plugin-resource-apt_repository"]
	path = plugins/mitamae-plugin-resource-apt_repository
	url = https://github.com/takumin/mitamae-plugin-resource-apt_repository.git
[submodule "plugins/mitamae-plugin-resource-debconf"]
	path = plugins/mitamae-plugin-resource-debconf
	url = https://github.com/takumin/mitamae-plugin-resource-debconf.git
[submodule "plugins/mitamae-plugin-resource-apt_keyring"]
	path = plugins/mitamae-plugin-resource-apt_keyring
	url = https://github.com/takumin/mitamae-plugin-resource-apt_keyring.git
